<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-head"/>
	
	<style>
		.cars, .users {
			margin: 60px 20px;
			text-align: center;
			border: 1px solid black;
			border-radius: 5px;
			padding: 10px 20px;
		}
	</style>
</head>
<body>
	<div th:replace="fragments/header :: header-nav"/>
	
	<h1 class="bg-light text-dark py-4 text-center">Car Rental Admin Page</h1>
	
	<div class="container text-center">
		<div class="row justify-content-md-center">
		
			<!-- Manage Cars -->
			<div class="col-md-5 cars">
				<h3 class="py-2">Manage Cars</h3>
				<a class="btn btn-block btn-outline-primary" th:href="@{/registration}">Find a Car By Its Registration Number</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/showAll}">Show All Cars</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/available}">Cars Available for rent</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/rentedCar}">Rented cars for a specific date</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/amount}">Total Amount of cars Rented</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/importcsv}">Import Csv File of All Cars</a>
				<a class="btn btn-block btn-outline-primary" th:href="@{/returned}">List of all Rented Cars</a>
			</div>
			
			<!-- Manager Users -->
			<div class="col-md-5 users">
				<h3 class="py-2">Manage Users</h3>
				<a class="btn btn-block btn-outline-success" th:href="@{/user}">Show all Users</a>
				<a class="btn btn-block btn-outline-success" th:href="@{/searchCustomer}">Find a Customer by National Id</a>
				<a class="btn btn-block btn-outline-success" th:href="@{/rentedBy}">List of cars rented by Customer</a>
				<a class="btn btn-block btn-outline-success" th:href="@{/rentCarCustomer}">Rent Car to a Customer</a>
				<a class="btn btn-block btn-outline-success" th:href="@{/amountCars}">Amount of Cars rented by Customer</a>
			</div>
		</div>	
	</div>
	
</body>
</html>
