<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-head" />
<style>
	form {
		width: 35%;
		border: 1px solid black;
		border-radius: 5px;
		margin: 50px auto;
		padding: 20px;
		background-color: #fafafa;
	}
	
	.buttons {
		text-align: center;
	}
	
	.buttons .btn {
		margin-top: 10px;
		width: 49%;
	}
</style>
<body>
<div th:replace="fragments/header :: header-nav" />
		
<form th:action="@{/searchingCustomer}" th:method="post">
<h3 class="text-center py-2">Search User</h3>

<div class="form-group">
<label>National Id:</label>
<input class="form-control" type="text" name="nationalId" palceholder="Enter National Id" required/>
</div>
<div class="buttons">
			<button type="submit" class="btn btn-success">Search</button>
			<a th:href="@{/}" class="btn btn-danger">Back</a>
		</div>
</form>
</body>
</html>